extends base

block content
    .container-fluid
        .row
            #sidebar.col-md-3
                .list-group
                    a.list-group-item.list-group-item-action(href='/dashboard')
                        | Home
                    a.list-group-item.list-group-item-action.active(href='/settings') Settings
                    a.list-group-item.list-group-item-action(href='#') Profile
            #main-area.col-md-9
                form#budget-update-form
                    .form-group
                        label(for='budget-input') 
                        input#budget-input.form-control(type='text', aria-describedby='emailHelp', value=``)
                    button#budget-update.btn.btn-primary(type='button' value=`` onclick='updateBudgetFunction(this)') Update Budget

                form
                    .form-group
                        label(for='add-category-input') 
                        input#add-category-input.form-control(type='text', aria-describedby='emailHelp', placeholder='add category')
                    button.btn.btn-primary(type='button' onclick="addCategoryFunction(this)") Add Category  
                
               